body {
  background: radial-gradient(farthest-corner, #3a0e46 0%, #203 100%);
  font-family: verdana, sans-serif;
  font-size: 75%;
  margin-bottom: 80px;
}

#top-bar {
  display: block;
  width: 100%;
  height: 32px;
  background: white url(/static/logo.png) center no-repeat;
  background-size: auto 75%;
  margin-bottom: 16px;
}

#top-bar, .banner {
  box-shadow: 0 2px 4px 4px rgba(0,0,0,.3);
}

.playing-icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  line-height: 32px;
  background: #555;
  text-align: center;
  margin: 0 16px;
  font-size: 200%;
}

.playing-icon::after {
  content: "\f026";
  font-family: "FontAwesome";
  animation: playing 1s linear infinite;
}

@keyframes playing {
  33% {content: "\f027"}
  67% {content: "\f028"}
}

.logo {
  background-image:url(../../assets/img/TP-logo-WHITE.png);
  background-size:contain;
  background-repeat: no-repeat;
  width:50%;
  background-position:50% 50%;
}

#app-tabs {
  display:table;
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
  background:rgba(0,0,0,.5);
  z-index: 2;
  height: 64px;
}

.app-tab {
  display:table-cell;
  width:10%;
  text-align:center;
  padding:16px;
  font-size: 300%;
}

.app-tab.selected {
  background-color:rgba(0,0,0,.5);
  font-weight:bold;
  box-shadow:0 -4px 0 purple inset;
}

body {
  font-family: verdana, sans-serif;
}

#bundle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.banner {
  position: relative;
  border-radius: 2px;
  height: 64px;
  background-position: 50% 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 8px;
  background: white;
}

.banner.locked {
  opacity: .5;
}

.banner.now {
  padding: 0 16px;
}

.vote-button {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20%;
  text-align: center;
  line-height: 64px;
  font-size: 300%;
  height: 100%;
}

.vote-button::after {font-family: "FontAwesome";}
.vote-button.up {
  background: #46b572;
  box-shadow: -8px 0 4px -4px rgba(0,0,0,.5) inset;
  border-radius: 2px 0 0 2px;
}
.vote-button.up::after {content: "\f164"}

.vote-button.down {
  background: #bf3f3f;
  border-radius: 0 2px 2px 0;
  box-shadow: 8px 0 4px -4px rgba(0,0,0,.5) inset;
}
.vote-button.down::after {content: "\f165"}

.banner > * {
  z-index: 1;
}

.bar {
  border-radius: 2px 0 0 2px;
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #9c24ba;
  text-align: right;
  overflow: hidden;
  width: 0;
}

.bar::after {
  content: attr(data-percent) "%";
  position: relative;
  top: 4px;
  right: 4px;
}

.alarm {
  animation: flash-border .5s linear infinite step-start;
}

@keyframes flash-border {
  50% {}
}

.albumart {
  width:48px;
  height: 48px;
  border-radius: 4px;
  margin: 0 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.artist {
  color: #666;
}

.details-wrapper {
  position: relative;
  padding-left: 64px;
  color: #333;
  flex-shrink: 1;
  flex-grow: 1;
  overflow-x: auto;
  text-align: left;
  height: 48px;
  white-space: nowrap;
  margin-right: 8px;
}

.songtitle {font-size: 200%;}
