<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bundle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <h1 class="text-nowrap text-center">Bundle Logo</h1>
        <div class="well">
            <div class="outer-nowplaying">
    <div class="inner-nowplaying logo"></div>
    <div class="inner-nowplaying">Now Playing:</div>
</div>
            <div class="table-responsive table-borderless">
                <table class="table">
                    <thead>
                        <tr>
                            <th><img class="img-rounded" src="assets/img/design-music-album-cover.jpg" width="50"></th>
                            <th><span style="font-size:x-large;">Sandstorm - Darude</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-danger active" style="width: 20%;"></div>
    <div class="progress-bar progress-bar-striped progress-bar-warning active" style="width: 20%;"></div>
    <div class="progress-bar progress-bar-striped progress-bar-success  active" style="width: 40%;">3:12</div>
</div>
        <p class="text-center" style="font-size:x-large;">Choose from the Bundle!</p>
    </div>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item"><img class="img-rounded" src="assets/img/design-music-album-cover.jpg" width="50"><span style="font-size:x-large;">Gucci Gang - Lil Pump</span></li>
            <li class="list-group-item"><img class="img-rounded" src="assets/img/design-music-album-cover.jpg" width="50"><span style="font-size:x-large;">Motorsport - Migos</span></li>
            <li class="list-group-item"><img class="img-rounded" src="assets/img/design-music-album-cover.jpg" width="50"><span style="font-size:x-large;">Rockstar - Post Malone</span></li>
            <li class="list-group-item"><img class="img-rounded" src="assets/img/design-music-album-cover.jpg" width="50"><span style="font-size:x-large;"> Gangnam Style - Psy</span></li>
            <li class="list-group-item"><img class="img-rounded" src="assets/img/design-music-album-cover.jpg" width="50"><span style="font-size:x-large;"> Gangnam Style - Psy</span></li>
        </ul>
        <div id="app-tabs">
    <div class="app-tab selected">Vote</div>
    <div class="app-tab">Explore</div>
</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
