<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bundle</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/test.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/controller.js"></script>
    </head>
    <body>
        <div class="container">
            <div id="
            <h1 class="text-nowrap text-center">Bundle Logo</h1>
            <div class="banner">
                <img class="albumart" src="https://i.scdn.co/image/306578e65b8d30fe58e6fd9e42d84d251414da29">
                <div class="playing-icon"></div>

                <div class="details-wrapper">
                    <span class="songtitle">Coffee and TV</span><br>
                    <span class="artist">Blur</span>
                </div>
            </div>
            <div class="progress" id=timer>
        <div class="progress-bar progress-bar-striped progress-bar-danger active" style="width: 20%;"></div>
        <div class="progress-bar progress-bar-striped progress-bar-primary active" style="width: 40%;">3:12</div>
        <div class="progress-bar progress-bar-striped progress-bar-warning active" style="width: 30%;"></div>
        <div class="progress-bar progress-bar-striped progress-bar-success active" style="width: 40%;">3:12</div>
    </div>
    <span class="choose">Choose a song from the bundle to play next</span>
        </div>
        <div class="container">
            <div id=bundle></div>
            <div id="app-tabs">
                <div class="app-tab selected">Vote</div>
                <div class="app-tab">Explore</div>
            </div>
        </div>
        <script>
            grabBundle("#bundle");
            const MAX = 20;
            var remaining = MAX;

            function timer() {
                updateTimer(--remaining, MAX);
                setTimeout(timer, 1000);
            };
            timer();
        </script>
    </body>
</html>
